body {
    margin: 0;
    background-color: #121212;
}

header {
    position: sticky;
    top: 0;
    height: 60px;
    background-color: #1c9fdb;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 40px;
    font-weight: bold;
    z-index: 1000;
    margin-bottom: 0;
    justify-content: space-between;
}

.logo-spotifiuba {
    cursor: default;
}

.negro {
    color: #121212;
}

.blanco {
    color: white;
}

.azul {
    color: #1c9fdb;
}

.saludo {
    margin-top: 0;
    color: white;
    font-size: 25px;
    padding-left: 10px;
    font-weight: bold;
    text-align: center;
}

.separador {
    border: none;
    height: 2px;
    background-color: #1c9fdb;
    width: 25%;
    margin-top: -5px;
}

.botones-header {
    display: flex;
    gap: 10px;
}

.boton-header {
    padding: 10px 15px;
    border: none;
    cursor: default;
    border-radius: 20px;
    font-weight: bold;
    color: #1c9fdb;
    background-color: #121212;
}

.boton-header:active {
    background-color: #1f1f22;
    transform: translateY(1px)
}

.boton-crear-usuario {
    margin-right: 10px;
}